.total-list {
  width: 100%;
  display: flex;
}

.total-list-block {
  display: flex;
  justify-content: center;
  width: 22%;
  margin: 0 0 0 1%;
}

.total-list-buttons {
  width: 3%;
  display: flex;
  margin: 0 2%;
}